.body,
.div-house {
	margin: 0 auto;
	text-align: center;
}
p, label {
	font-weight: normal;
	font-size: 14px;
	margin-bottom: 5px;
	color: #484848;
}
h3, h4 {
	margin: 0;
	color: #484848;
}
.div-title,
.div-booking,
.div-charge,
.div-payment,
.div-house {
	display: block;
}
.form-group,
.house-info,
.house-image {
	display: inline-block;
	margin: 0 auto;
}
.form-group {
	vertical-align: top;
}
.form-group:last-child {
	margin-bottom: 55px;
}
.div-title {
	max-width: 1224px;
	margin: 0 auto;
}
.btn-box {
	width: 100%;
	margin-bottom: 15px;
}
.btn-back {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	padding-top: 1.2em;
	margin: 10px 0 0 -20px;
}
.btn-back:hover {
	background-color: #f9f9f9;
}
.btn-back a{
	margin: 20px 0;
	color: #555;
}
h3 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 24px;
	margin: 10px 0 40px;
}
h4 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
	margin-bottom: 30px;
}
.div-booking,
.div-charge, 
.div-payment {
	min-width: 300px;
	width: 600px;
	margin: 10px;
	padding: 40px;
	border: 1px solid #e0e0e0;
}
.div-charge {
	margin-bottom: 20px;
}
p.location-etc {
	font-family: 'Noto Sans KR', sans-serif;
}
.house-info p:last-child {
	margin-bottom: 0;
}
.house-image {
    width: 120px;
    height: 80px;
    overflow: hidden;
    border-radius: .5em;
}
.house-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: bottom;
    position: static !important;
}
p.refund {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	color: #33cabb;
	margin-top: 30px;
}
.amount label,
.payment label {
	font-weight: bold;
}